<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>繁星聊天</title>
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <script src="/javascripts/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
</head>
<body>
        <div id="userList">
            <div>
                <div class="self" data-name="<%= name%>" data-username="<%= username%>"></div>
                <div class='user_num'></div>
            </div>
            <ul>
            </ul>
        </div>
        <div class="chat_container">
            <div id="tab_title">
                <h1>聊天室</h1>
                <ul>
                    <li class="commonality_title title active"><span class="text">聊天室</span></li>
                </ul>
            </div>
            <ul id="chat_contents">
                <li class="commonality active" value="commonality">
                    <div class="chat_content">
                        <div class="tips history"><span>查看聊天历史</span></div>
                    </div>
                    <div class="chat_submit">
                        <div class="input_con">
                            <input type="text" class="input">
                            <i class="emojiButton"></i>
                        </div>
                        <button class="submit">提交</button>
                    </div>
                </li>
            </ul>
            <ul id="emojiCon"></ul>
        </div>
        <div id="videoCon">
            <video src="" id="video"></video>
            <video src="" id="videoSelf"></video>
        </div>
        <% include logout.ejs %>
</body>
<script src="/javascripts/chat.js"></script>
</html>