<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>五子棋</title>
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <script src="/javascripts/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/chess.css">
</head>
<body>
        <div id="userList">
            <div>
                <div class="self" data-name="<%= name%>" data-username="<%= username%>"></div>
                <div class='user_num'></div>
            </div>
            <ul>
            </ul>
        </div>
        <div class="chat_container">
            <div class="controlPos">
                <h3></h3>
                <canvas width="650" height="516" id="canvas"></canvas>
                <div class="button">
                    <button id="reset">复位</button><button id="disconnect">断开</button>
                </div>
            </div>
        </div>
        <div id="tip">
            <p class="ok">对方已经用意！</p>
            <div id="send">
                <p>等待<span class="to"></span>对方接受！</p>
                <button class="cancel">取消</button>
            </div>
             <div id="accept">
                <p>是否接受<span class="from"></span>的游戏邀请！</p>
                <button class="accept">接受</button>
                <button class="refuse">拒绝</button>
            </div>
            <div id="noIdle">
                <p><span class="to"></span>正在游戏中...</p>
                <button class="close">关闭</button>
            </div>
        </div>
        <div id="bg"></div>
</body>
<script src="/javascripts/chess.js"></script>
</html>